<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Books</title>
</head>
<body>
    <form action="/add" method="post" class="add">
        <button type="submit" name="newReview" >Add review</button>
    </form>
    <h1 class="stopit">Your name goes here</h1>
    <h2 style="font-style: italic; text-decoration: underline; color: rgb(160, 66, 15); margin-bottom: 60px;">My Book reviews</h2>
    <% if (reviews && reviews.length > 0) { %>
        <% reviews.forEach(review => { %>
            <div class="reviews">
                <img 
                    src="https://covers.openlibrary.org/b/isbn/<%= review.isbn %>-M.jpg" 
                    alt="Book Cover for ISBN <%= review.isbn %>" 
                    style="max-width: 200px;"
                >
                <h2><%= review.title %></h2>
                <p class="author"><strong>Author:</strong><br> <%= review.author %></p>
                <p class="description"><strong>Description:</strong><br> <%= review.description %></p>
                <p class="opinion"><strong>Personal Opinion:</strong><br> <%= review.opinion %></p>
                <p class="lastP"><strong>ISBN:</strong> <%= review.isbn  %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>Rating:</strong> <%= review.rating %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>Review Date:</strong> <%= new Date(review.review_date).toLocaleDateString('en-US')%> 
                </p>
            </div>

       <% }) %>
    <% } else {%>
        <h1>You have failed!</h1>
    <% }%>
    
    
</body>
</html>